*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
}

.HeadCard{
    background: url('img/knife.jpg');
    height: 40vh;
    border-bottom-left-radius: 4vw;
    border-bottom-right-radius: 4vw;
}

.HeadCard .logo img{
    width: 5vw;
    height: 10vh;
    cursor: pointer;
    border-radius: 60%;
    margin: 1vw;
}

.h-lines{
    display: grid;
    grid-template-columns: 8fr 1fr;
    margin: 1vw;
}
.h-lines .lines h1{
    margin: 5px;
}
.h-lines .lines p{
    margin: 5px;
}
.h-lines .lines{
}
.h-lines .card{
    background: rgb(189, 182, 175);
    text-align: center;
    border-radius: 1vw;
    margin: 1vw 2vw;
    padding: 1vw;
}

/* menucard */
.menuCard{
    border: 2px solid green;
    margin: 2vw;
    /* height: 100vh; */
    border-radius: 1.3vw;
    background: rgb(226, 191, 217);
}

.type{
    display:flex;
    position: relative;
    bottom: 3vh;
    left: 5vh;
    width: 60vw;
}
.type p{
    padding: 0.8vw;
    border: 1px solid red;
    border-radius: 2vw;
    border-bottom-left-radius: 0;
    margin: 0px 2vw;
    background: white;
}

.n-veg{
    display: flex;
    margin-bottom: 10px;
}
.n-veg p{
    margin: 0px 4vw;
}



/* Slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px red;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /* option */
  .option{
      display: flex;
  }
  .option a{
      text-decoration: none;
      color: rgb(25, 27, 22);
      font-size: 1.2rem;
      padding:  0.5vw 1vw;
      margin: auto;
      border-radius: 15px;
  }

  .option a:hover{
 background: rgb(255, 141, 141);
  }

  .foodCard{
   display: grid;
   grid-template-columns: 5fr 1fr;
   /* border: 2px solid red; */
   margin: 1vw  0.5vw;
   padding: 0.5vh;
   border-radius: 10px;

  }
  .foodCard .text{
      margin: 1vw 2vw;
  }
  .foodCard .text .HeadLines{
      font-size: 2.4rem;
  }
  .foodCard .text p{
      font-size: 1.4rem;
  }
  .food-img{
      align-items: center;
      text-align: center;
  }
  .food-img img{
      width: 20vw;
  }
  .foodCard:hover{
      background: rgb(145, 144, 144);
  }
  .addbtn{
      padding: 0.3vw 0.6vw;
      border-radius: 0.4vw;
      cursor: pointer;
      width: 5vw;
  }
  .pricebtn{
      background: #000;
      color: white;
      font-size: 1rem;
      padding: 0.3vw 0.6vw;
      border-radius: 0.4vw;
      cursor: pointer;
      width: 6vw;
  }


  /* Responsive Code */
  @media (max-width:900px) {

    .menuCard{
        /* background: rgb(95, 87, 87); */
        margin-top: 7vh;
    }
    .pricebtn{
        width: 10vw;
    }
    .addtn{
        width: 16vw;
    }
    .menuCard .food-img img{
        width:24vw ;
        height: 14vh;
    }
    .foodCard .text .HeadLines{
        font-size: 1.4rem;
    }
    .foodCard .text p{
        font-size: 1rem;
    }
      
  }

  @media (max-width:600px) {
      .HeadCard .logo img{
          width: 5vw;
          height: 6vh;
      }

    .menuCard{
        /* background: rgb(250, 172, 172); */
        margin-top: 7vh;
    }
    .pricebtn{
        width: 15vw;
    }
    .addbtn{
        width: 12vw;
    }
    .menuCard .food-img img{
        width:24vw ;
        height: 14vh;
    }
    .foodCard .text .HeadLines{
        font-size: 1rem;
    }
    .foodCard .text p{
        font-size: 0.8rem;
    }
      
  }

  @media (max-width:400px) {
    .menuCard .type p{
        font-size: 0.9rem;
    }      
  }